.red-color {
    color: red;
    font-family: "Comic Sans MS", serif;
    font-size: 24px;
    font-weight: lighter;
}

body {
    margin-left: 5%;
    margin-right: 5%;
    background: antiquewhite;
/*background-image: url("../images/1920x1080-4511255-anime-one-piece-monkey-d.-luffy.png");*/
}

.img {
    height: 480px;
    width: 720px;
}

img:hover {
    background-color: grey;
    opacity: 75%;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

a:visited {
    color: white;
}

h1, h2, h3 {
    font-family: "Comic Sans MS", sans-serif;
    color: burlywood;
}

p:first-letter {
    font-size: 200%;
}
p{
    /*works in chrome fit-content not in firefox for fire fox max-content*/
    width: max-content;
}
footer {
    position: absolute;
    bottom: 0;
    width: 644px;
    height: 20px;
    margin: 0 auto;
}

#div_brown{
    background-color: maroon;
    color: antiquewhite;
}