{% extends 'base.html' %}
{% load static %}
{% block title %}| Home {% endblock %}
{% block content %}
    <h1>This is Home page</h1>
    <p id ='div_brown'>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
    </p>
    <p id='div_brown'>This is another para</p>

    {% if is_login %}
        User is Logged in.
    {% else %}
        User is not logged in
    {% endif %}
    <div class="row">
        <div class="col-3 bg-dark text-light">
            <h4>List of Books</h4>
            <hr>
            <ol>
                {% for book in list_books %}
                    <li>{{ book }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-3 bg-light text-dark">
            <h4>List of Authors</h4>
            <hr>
            <ol>
                {% for author in list_auths %}
                    <li>{{ author }}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-3 bg-dark text-light">
            <table>
                <tr>
                    <th>List of Books</th>
                </tr>
                {% for book in list_books %}
                    <tr>
                        <td>{{ book }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-3 bg-light text-dark">
            <table>
                <tr>
                    <th>List of Authors</th>
                </tr>
                {% for author in list_auths %}
                    <tr>
                        <td>{{ author }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {#<a href="/d1/contact-us">Contact us</a>#}
    <a class="btn btn-success m-1"  href="{% url 'contact-us' %}">Contact Us</a>
{% endblock content %}