{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}| List Students{% endblock %}
{% block content %}
    <table class="bg-dark text-light mt-5">
        <thead class="bg-light text-dark">
        <th>Name</th>
        <th>Roll</th>
        <th>Section</th>
        <th>Room</th>
        <th>Delete</th>
        </thead>
        {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.roll }}</td>
                <td>{{ student.section }}</td>
                <td>{{ student.room }}</td>
                <td><a class="btn btn-danger" href="{% url 'delete_student' id=student.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
